/* FILTRO */
#filter {
  background-color: rgba(10, 10, 30, 0.6);
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  color: white;
  box-shadow: 0 0 10px rgba(0, 89, 255, 0.3);
}
#filter label {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
#filter input,
#filter select {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  color: #cccccc;
}
#filter input:focus,
#filter select:focus {
  outline: none;
  border-color: #ff7a00;
  background-color: rgba(255, 255, 255, 0.2);
}
#filter input::placeholder {
  color: #cccccc;
}
#filter select option {
  color: black;
  background: rgba(255, 255, 255, 0.1);
}
#filter select option:hover {
  background-color: #ff7a00;
  color: #000;
}